{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "no-console": "warn"
  }
}
